@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb)) linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) no-repeat center center fixed;
    min-height: 100vh;
}
